.titre{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2711cd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.OutilsSelection {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centrer horizontalement */
  align-items: center;     /* Centrer verticalement (si nécessaire) */
                /* Espacement entre les sélecteurs */

  margin-top: 20px;
  margin-bottom: 20px;
 
}

.selecteurVille{
  background-color: #12b218;
  color: white;
}

.selecteurMois{
  background-color: #4488c3;
  color: white;
}

.resultats{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center; 
  color: #4488c3;
    
                

  margin-top: 20px;
  margin-bottom: 20px;
 
} 

/* Appliquer un espacement et une bordure aux en-têtes de tableaux */
th {
  padding: 8px 12px; /* 8px pour le haut et le bas, 12px pour la gauche et la droite */
  
}

/* Appliquer un espacement et une bordure aux cellules de tableaux */
td {
  padding: 8px 12px;
}

/* Si vous utilisez un élément <table>, vous voudrez peut-être également ajouter cette règle pour vous assurer que les bordures s'affichent correctement */
table {
  border-collapse: collapse;
  border: 1px solid blue;

}
